* {
	font-family: 'Montserrat', sans-serif;
}


h1,
h2 {

	font-family: 'Roboto', sans-serif;
}

img
{
height: 250px;
width: 250px;
border-radius: 50%;

}

#landing,#gallery
{

height: 80vh;

display: flex;

flex-direction: column;

justify-content: center;

align-items: center;
}


ul{

	list-style: none;
	padding: 0;
}

h2{

	color: #007bff;
}